:host {
  display: flex;
  padding: 10%;
  flex: 1;
}

button {
  display: flex;
  font-size: 2rem;
  width: 100%;
  background: rgb(149, 255, 203);
  background: linear-gradient(
    135deg,
    rgba(149, 255, 203, 1) 0%,
    rgba(149, 252, 255, 1) 100%
  );
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
